@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Dane personalne</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane osobowe, które nam przekazałeś. Ta strona umożliwia pobranie tych danych.</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Pobierz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
