@model Programowanie_zaawansowane_zaliczenie.Models.ContactCategories

@{
    ViewData["Title"] = "Usuwanie kategorii";
}

<h1>Usuwanie kategorii</h1>

<h3>Czy napewno chcesz usunąć kategorię?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do kategorii kontaktów</a>
    </form>
</div>
