@model IEnumerable<Programowanie_zaawansowane_zaliczenie.Models.ContactCategories>

@{
    ViewData["Title"] = "Lista kategorii kontaktów";
}

<h1>Lista kategorii kontaktów</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Dodaj kategorię</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "btn btn-success btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>
